<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>doIndex</servlet-name>
        <servlet-class>com.onlinebank.controller.doIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doRegister</servlet-name>
        <servlet-class>com.onlinebank.controller.doRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAccount</servlet-name>
        <servlet-class>com.onlinebank.controller.doAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAddAccount</servlet-name>
        <servlet-class>com.onlinebank.controller.doAddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doCheckLogin</servlet-name>
        <servlet-class>com.onlinebank.controller.doCheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doDeposit</servlet-name>
        <servlet-class>com.onlinebank.controller.doDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doDepositTrans</servlet-name>
        <servlet-class>com.onlinebank.controller.doDepositTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doWithdraw</servlet-name>
        <servlet-class>com.onlinebank.controller.doWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doWithdrawTrans</servlet-name>
        <servlet-class>com.onlinebank.controller.doWithdrawTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doGetBalance</servlet-name>
        <servlet-class>com.onlinebank.controller.doGetBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doGetBalanceFinal</servlet-name>
        <servlet-class>com.onlinebank.controller.doGetBalanceFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doTransfer</servlet-name>
        <servlet-class>com.onlinebank.controller.doTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doTransferTrans</servlet-name>
        <servlet-class>com.onlinebank.controller.doTransferTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doViewReport</servlet-name>
        <servlet-class>com.onlinebank.controller.doViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doLogOff</servlet-name>
        <servlet-class>com.onlinebank.controller.doLogOff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doIndex</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doRegister</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAccount</servlet-name>
        <url-pattern>/Account.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAddAccount</servlet-name>
        <url-pattern>/AddAccount.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doCheckLogin</servlet-name>
        <url-pattern>/logincheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doDeposit</servlet-name>
        <url-pattern>/deposit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doDepositTrans</servlet-name>
        <url-pattern>/DepositTrans.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doWithdraw</servlet-name>
        <url-pattern>/withdraw.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doWithdrawTrans</servlet-name>
        <url-pattern>/WithdrawTrans.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doGetBalance</servlet-name>
        <url-pattern>/get-balance.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doGetBalanceFinal</servlet-name>
        <url-pattern>/get-balance-final.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doTransfer</servlet-name>
        <url-pattern>/transfer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doTransferTrans</servlet-name>
        <url-pattern>/TransferTrans.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doViewReport</servlet-name>
        <url-pattern>/view-report.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doLogOff</servlet-name>
        <url-pattern>/logoff.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
</web-app>
